.container.sidebar {
    width: 180px !important; /* Set the desired width for the sidebar */ 
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    position: fixed; /* Keep the sidebar fixed when scrolling */
    top: 0; /* Set the distance from the top */
    left: 0px; /* Keep the sidebar fixed on the left */
    border: solid 1px black;
    
}

li i{
 padding: 5px;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
} 

li {
    padding: 5px;
}

a {
    text-decoration: none;
    padding: 10px;
    color: black;
    font-size: 15px;
    display: block; /* Make the whole area clickable */
}


.fa-twitter {
    color: #1DA1F2;
}

.profile-section{
    margin-top: 260px;
    text-align: left;

}
